/* colors */
.bg-pink {
    background-color: hsl(0, 100%, 91%);
}

.bg-light-blue {
    background-color: hsl(213, 100%, 91%);
}

/* layouts */
.margin-inline-auto {
    margin-inline: auto;
}

.gap-top-0 {
    margin-block-start: 0
}

.gap-top-300 {
    margin-block-start: clamp(.7rem, .66rem + .2vw, .8rem)
}

.gap-top-400 {
    margin-block-start: clamp(.88rem, .83rem + .24vw, 1rem)
}

.gap-top-500 {
    margin-block-start: clamp(1.09rem, 1rem + .47vw, 1.33rem)
}

.gap-top-600 {
    margin-block-start: clamp(1.37rem, 1.21rem + .8vw, 1.78rem)
}

.gap-top-700 {
    margin-block-start: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem)
}

.gap-top-800 {
    margin-block-start: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem)
}

.gap-top-900 {
    margin-block-start: clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
}

.gap-top-1000 {
    margin-block-start: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
}

.gap-bottom-0 {
    margin-block-end: 0
}

.gap-bottom-300 {
    margin-block-end: clamp(.7rem, .66rem + .2vw, .8rem)
}

.gap-bottom-400 {
    margin-block-end: clamp(.88rem, .83rem + .24vw, 1rem)
}

.gap-bottom-500 {
    margin-block-end: clamp(1.09rem, 1rem + .47vw, 1.33rem)
}

.gap-bottom-600 {
    margin-block-end: clamp(1.37rem, 1.21rem + .8vw, 1.78rem)
}

.gap-bottom-700 {
    margin-block-end: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem)
}

.gap-bottom-800 {
    margin-block-end: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem)
}

.gap-bottom-900 {
    margin-block-end: clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
}

.gap-bottom-1000 {
    margin-block-end: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
}

.gap-left-0 {
    margin-inline-start: 0
}

.gap-left-300 {
    margin-inline-start: clamp(.7rem, .66rem + .2vw, .8rem)
}

.gap-left-400 {
    margin-inline-start: clamp(.88rem, .83rem + .24vw, 1rem)
}

.gap-left-500 {
    margin-inline-start: clamp(1.09rem, 1rem + .47vw, 1.33rem)
}

.gap-left-600 {
    margin-inline-start: clamp(1.37rem, 1.21rem + .8vw, 1.78rem)
}

.gap-left-700 {
    margin-inline-start: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem)
}

.gap-left-800 {
    margin-inline-start: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem)
}

.gap-left-900 {
    margin-inline-start: clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
}

.gap-left-1000 {
    margin-inline-start: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
}

.gap-right-0 {
    margin-inline-end: 0
}

.gap-right-300 {
    margin-inline-end: clamp(.7rem, .66rem + .2vw, .8rem)
}

.gap-right-400 {
    margin-inline-end: clamp(.88rem, .83rem + .24vw, 1rem)
}

.gap-right-500 {
    margin-inline-end: clamp(1.09rem, 1rem + .47vw, 1.33rem)
}

.gap-right-600 {
    margin-inline-end: clamp(1.37rem, 1.21rem + .8vw, 1.78rem)
}

.gap-right-700 {
    margin-inline-end: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem)
}

.gap-right-800 {
    margin-inline-end: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem)
}

.gap-right-900 {
    margin-inline-end: clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
}

.gap-right-1000 {
    margin-inline-end: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
}

.flow-space-0 {
    --flow-space: 0
}

.flow-space-300 {
    --flow-space: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem)
}

.flow-space-400 {
    --flow-space: clamp(0.88rem, 0.83rem + 0.24vw, 1rem)
}

.flow-space-500 {
    --flow-space: clamp(1.09rem, 1rem + 0.47vw, 1.33rem)
}

.flow-space-600 {
    --flow-space: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem)
}

.flow-space-700 {
    --flow-space: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem)
}

.flow-space-800 {
    --flow-space: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem)
}

.flow-space-900 {
    --flow-space: clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
}

.flow-space-1000 {
    --flow-space: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
}



/* fonts */
/** font-sizes */
